*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    ;
}
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0px 10px;
}
.logo{
    width: 100px;
}
select{
    border:none;
    margin-right: 30px;
    
}
.menu{
    display: flex;
    
    align-items: center;
    
    
}
div{
    
    margin-right: 30px;
}
.flag{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    
    
    
    
}
#india{
    background-color: violet;
    
    width: 30px;
}
.b1{
    padding:1px 30px;
    background-color: rgb(255, 123, 0);
    color: white;
    border: 2px solid rgb(255, 123, 0);
}

main{
    
    display: grid;
    
      
    
}
.home-page{
    background:url("./b.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
     
}
#hpage{
    background-color: #000000b3;
    height: 100%;
    padding: 50px 100px; 
}
h1{
    font-size: 90px;
    color: white;
    font-family: Avenir-Next,Roboto,sans-serif
}
h3{
    font-size: 33px;
    color: white;
    font-family: Avenir-Next,Roboto,sans-serif
}
/* main section */
.b2,.b3,.b4{
    margin-top:20px;
    
}
.b2{
    background-color: #4992ca;
    border:none;
    color:white;
    padding:15px 85px;
}
.b3{
    background-color: transparent;
    border:2px solid white;
    padding:15px 60px;
    color:white;
}
.b4{
    background-color: white;
    padding:15px 10px 15px 10px;
    border-radius: 15px;
    border:none;
    color:black;
    
}
strong{
    color:black;
    
}
.pocket{
    background-color:  #4992ca;
    height: 100%;
    text-align:center;
    padding: 20px 125px;
    color:white;
    font-family: Avenir-Next,Roboto,sans-serif;
    
}

.monsters{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    
    
}
p{
    margin-top: 20px;
}
h2{
    font-size : 45px;
}
h4{
    margin-top: 30px;
    font-size : 30px;
}
h6{
    font-size: 18px;
}
i{
    font-size: 40px;
}
.statistics{
    
    text-align: center;
    height: 100%;
    padding: 20px 125px;
    font-family: Avenir-Next,Roboto,sans-serif;

}
.stats{
    
    display: flex;
   
}

.statimg{
    margin-top: 10px;
    width:80%;
    height: 50vh;
    
    
}
.data{
    
    text-align: center;
    height: 100%;
    padding: 20px 125px;
    font-family: Avenir-Next,Roboto,sans-serif;
    font-weight: 100;
    
}
/* pokemon of the year */
.pyr{
    text-align: center;
}
.row1,.row2,.row3,.row4{
    
    display: flex;
    align-items: flex-start;
    color:  #8a8a8a;
    
    
    
}
#text{
    
    
    text-align: left;
    margin-top: 0;
}
.pokimg{
   
    width:150px;
    height: 100%;
    
}
#font{
    
    font-weight: 100;
    color: #6b6b6b;
    margin-top: 0;
}
/* Q & A */
.qna{
    background-color: #4992ca;
    color:white;
    
    text-align: center;
    padding: 50px 125px;
    font-family: Avenir-Next,Roboto,sans-serif;
}
.q-a{
    
    text-align: left;
    
}
ul{
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 110px;
    line-height: 25px;
    font-weight: 100;
}
ol{
    list-style-position: inside;
}
/* Pokemon battles section */
.battle-section{
    height: 100vh;
    text-align: center;
    padding:50px 0px;
    font-family: Avenir-Next,Roboto,sans-serif;
}
table{
    
    border-collapse: collapse;
    
}
td,th {
    text-align: left;
    padding: 12px;
    border: 1px solid #dddddd;
}
td {
    color: #8a8a8a;
  }
.pokemon-battles{
    display: flex;
    text-align: left;
    padding: 10px 125px;
    
    
}
.g1{
    line-height: 25px;
    width:40%;
    
}
.g2{
   width:100%;
    
}
.pokp{
    color: #8a8a8a;
}